LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=
DEEPGRAM_API_KEY=
LLM_PROVIDER=openai
OPENAI_API_KEY=
GROQ_API_KEY=
CARTESIA_API_KEY=
CARTESIA_VOICE_ID=
CARTESIA_VOICE_ID_ES=
CARTESIA_VOICE_ID_ZH=
TAVUS_API_KEY=
TAVUS_REPLICA_ID=r5f0577fc829
TAVUS_PERSONA_ID=
NEXT_PUBLIC_APP_URL=http://localhost:3000
